body {
    margin: 0;
    font-family: Arial, sans-serif;
    background: #000000;
}

.container {
    display: flex;
    height: auto;
}


.form-section {
    width: 50%;
    padding: 60px 80px;
}

.form-section h1 {
    font-size: 36px;
    margin-bottom: 10px;
    color: whitesmoke;
}

.container p {
    color: #97FB57;
    margin-bottom: 30px;
}

label {
    display: block;
    margin: 15px 0 5px;
    font-size: 14px;
    color: #ccc;
    font-weight: bold;
}

input {
    width: 500px;
    padding: 14px;
    border-radius: 10px;
    border: 1px solid #ccc;
    margin-bottom: 10px;
    font-size: 14px;
}






.login {
    width: 530px;
    padding: 15px;
    font-size: 15px;
    font-weight: bold;
    background-color: #000000;
    border: 1px solid whitesmoke;
    color: white;
    border-radius: 10px;
    margin-bottom: 15px;
    cursor: pointer;
}


.login:hover {
    background-color: #97FB57;
    color: #000;
    font-weight: bold;
    
}

.google {
    width: 530px;
    padding: 15px;
    font-size: 15px;
    font-weight: bold;
    background: white;
    border: 1px solid #ccc;
    border-radius: 10px;
    cursor: pointer;
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 8px;
}
.google:hover{
    background-color: #ccc;
}



.image-section {
    width: 900px;
    background-color: #000;
    padding: 0 0 0 250px;
    display: flex;
    align-items:end;
    justify-content:end;
}

