h1,h3{
    color: plum;font-size: 38px;
}
.cartoon{
    color: royalblue;font-size: 65px;
}
#unique{
    color: turquoise;font-size: 25px;
    background-color: blanchedalmond;
}
#yupp p{
    color: deeppink;background-color: aqua;
}
#banner { color: red; }
.featured { color: blue; }

